@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
    themes: all;
}

@layer base {
    p { @apply leading-relaxed; }

    button { @apply !inline-flex !items-center !justify-center min-h-[46px] min-w-[48px]; }

    input { @apply !inline-flex !items-center !justify-center min-h-[46px] min-w-[46px]; }
}

@layer components {
    .accessible_link {
        @apply !inline-flex !items-center !justify-center min-h-[44px] min-w-[44px];
    }
}

